# Project place file
/ui_kit.rbxlx

# Roblox Studio lock files
/*.rbxlx.lock
/*.rbxl.lock

# MacOS file system junk.
._*
.DS_STORE

/*.git

/*.zip

/*.rbxm

/.vscode

/sourcemap.json

docs/.vitepress/dist
docs/.vitepress/cache
docs/site/node_modules
docs/generation/target
docs/site/.vitepress/cache
docs/site/docs